$colorWhite: #fff;
$colorGray: #a4afb2;
$colorCyan: #c5e0e5;
$colorBlue: #2361cc;
$colorDarkBlue: #1d1ba3;
$colorRed: red;
$colorOrange: orange;

$borderRadius: 5px;
$smallPadding: 10px;
$bigPadding: 50px;
$btnWidth: 64px;
