$colorWhite: #fff;
$colorGray: #a4afb2;
$colorCyan: #c5e0e5;
$colorBlue: #2361cc;
$colorDarkBlue: #1d1ba3;
$borderRadius: 5px;
$smallPadding: 10px;
$bigPadding: 50px;

.container {
  background: $colorBlue;
  min-height: 100vh;
}

.form,
.todoList {
  width: clamp(320px, 50%, 512px);
  margin: 0 auto;
}

.fieldset,
.todoListItem {
  display: grid;
  grid-template-columns: minmax(200px, 70%) 1fr 1fr;
  gap: $smallPadding;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form {
  gap: 0 $smallPadding;
  padding: calc($bigPadding / 2) $bigPadding;
  border-radius: calc($borderRadius * 2);
  background: $colorWhite;
}

.todo {
  &Input {
    padding: $smallPadding;
    border: 2px solid $colorBlue;
    border-radius: $borderRadius;
    font-family: sans-serif;
    font-size: 1rem;
  }
  &Btn {
    background: $colorBlue;
    border: none;
    border-radius: $borderRadius;
    color: $colorWhite;
    font-weight: bold;
  }
  &List {
    padding-inline-start: 0;
    width: 100%;
    margin-top: $bigPadding;

    &Btn {
      background: $colorDarkBlue;
      border-radius: $borderRadius;

      &Icon {
        width: 24px;
        padding: $smallPadding;
      }
    }

    &Item {
      margin: 5px 0;
      padding: calc($smallPadding / 2) $smallPadding;
      background: $colorCyan;
      border: 1px solid $colorGray;
      border-radius: $borderRadius;

      ::marker {
        content: '';
      }
      &Text {
        overflow: hidden;
        text-align: justify;
        margin: 0;
      }
    }
  }
}
